//config
$color-light-cyan: hsl(184, 88%, 32%);
$color-light-violet:hsl(283, 45%, 47%);
$color-transparent-white:hsla(0, 0%, 100%, 0.75);
$color-light-gray:hsl(0, 0%, 95%);
$color-light-gray-2: hsl(0, 0%, 70%);
$color-dark-gray:#333;
$color-transparent-blue: #87879D;

$font-primary: 'Roboto', sans-serif;
/* --font-secondary: 'Big Shoulders Display', cursive; */

$bp:(
mobile: 480px,
tablet: 768px,
desktop: 1440,
);

@mixin query($screen){
@each $key, $value in $bp {
  @if($screen == $key){
    @media (max-width:$value){
      @content;
    }
  }
}
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}
body{
background-color: var(--color-light-gray);
}
// img{
//   width: 100%;
// }

/* section{
height: 50vh;
} makes it worse */


header {
margin: 4rem 0;
display: flex;
justify-content: center;
align-items: center;
}
.header-logo{
width:7rem;

}
.container{
max-width: 1000px;
margin:0 auto;
}
.hero-img img{
width:100%;
}

.s1{
.s1__intro-text{
  text-align: center;
  margin: 4rem 0;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: $font-primary;
  font-weight: 500;

  .title{
    // color: rgb(56, 56, 77);
    color:$color-dark-gray;
    font-size: 3rem;;
    line-height: 1;
    font-weight: 700;
    padding: 1rem;
  }

  & p {
    margin: 1.5rem 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color:$color-transparent-blue;
    
  }

  .btn{
    background-color: cadetblue;
    text-decoration: none;
    color: $color-transparent-white;
    font-size: 1.2rem;
    padding: 1rem 1.3rem;
    border-radius: 50px;
  }

  .btn1{
    background-color:  $color-light-violet;
  }

  .btn2{
    background-color: $color-light-cyan;
  }


}
&__img-box{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.separator{
  margin-top: 110px;
  display: flex;
  justify-content: center;
  width:3rem;
  /*margin: 0 auto; */

}
}



.s2{
position: relative;
/* display: flex;
flex-direction: column; */
.s2__card-container{
  margin-top: 3.2rem;
  padding: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(150px,1fr));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  
  .card img {
    width: 100%;
  }
}

.s2__text{
  text-align: center;
  padding: 2rem;
  
  h3{
    font-size: 1.6rem;
    color:$color-light-cyan;
    letter-spacing: 2px;
  }
  h2{
    font-size: 2.3rem;
    font-weight: 700;
    color:$color-dark-gray;
    
  }
  p{
    color: $color-light-gray-2;
  }
 }
 .separator{
  margin-top: 110px;
  display: flex;
  justify-content: center;
  width:3rem;
  /*margin: 0 auto; */

}
}

.s3{
position: relative;
text-align: center;
color: white;

.footer-bg img{
  width: 100%;
  min-height: 50vh;

}

&__text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  
  // h2{

  // }
  // p{}
  // .btn3{}
}
}


