//config
$color-light-cyan: hsl(184, 88%, 32%);
$color-light-violet:hsl(283, 45%, 47%);
$color-white:rgb(255, 255, 255);
$color-transparent-white:hsla(0, 0%, 100%, 0.75);
$color-light-gray:hsl(0, 0%, 95%);
$color-light-gray-2: hsl(0, 0%, 70%);
$color-dark-gray:#333;
$color-transparent-blue: #87879D;

$font-primary: 'Roboto', sans-serif;


$bp:(
mobile: 480px,// done
tablet: 768px,//done
tablet-land: 800px,
desktop: 1200px,
large-desktop:1400px
);

@mixin query($screen){
 @each $key, $value in $bp {
   @if($screen == $key){
     @media (min-width:$value){
      @content;
    }
  }
}
}
@mixin btn($width, $value) {
  text-decoration: none;
  color: $color-white;
  #{$width}: $value;
  font-size: 1.2rem;
  padding: 1.3rem 0rem;
  border-radius: 50px;
  font-weight: 700
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}
body{
background-color: var(--color-light-gray);
}

/* section{
height: 50vh;
} makes it worse */


header {
margin: 4rem 0;
display: flex;
justify-content: center;
align-items: center;
}
.header-logo{
width:7rem;

}
.container{
max-width: 1200px;
margin:0 auto;

//  @include query(tablet){
//   max-width: 900px;
//  }
}
h2{
font-size: 2.3rem;
}
h3{
font-size: 1.6rem;
}
p{
font-size: 1.2rem ;
}
.hero-img img{
width:100%;
}

.s1{
  &__intro-text{
   text-align: center;
   margin: 2rem 0;
   font-size: 1.6rem;
   text-decoration: none;
   font-family: $font-primary;
   font-weight: 500;

   @include query(large-desktop){
    position: relative;
    top:-75vh;
    max-width: 500px;
    margin: 0 auto;//not sure how to make this work
  }

   @include query(desktop){
      position: relative;
      top:-45vh;
      max-width: 500px;
      margin: 0 auto;
     }
    
 

  .title{
    // color: rgb(56, 56, 77);
    color:$color-dark-gray;
    font-size: 3rem;;
    line-height: 1;
    font-weight: 700;
    padding: 1rem;
  }

  & p {
    margin: 1.2rem 0;
    padding: 1rem;
    font-weight: 400;
    color:$color-transparent-blue;
    
  }

}

&__btn-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;

  @include query(tablet-land){
    flex-direction: row;
    justify-content: center;
  }
}


.btn1{
  @include btn(width, 12rem);
  background-color:  $color-light-violet;
}

.btn2{
  @include btn(width, 12rem);
  background-color: $color-light-cyan;
}
&__img-box{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.separator{
  margin-top: 50px;
  display: flex;
  justify-content: center;

  @include query(tablet){
    margin-top: 0;
  }

}

}



.s2{
position: relative;

.s2__card-container{
  margin-top: 3.2rem;
  padding: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(9rem,1fr));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;

  @include query(tablet){
    padding: 6rem;
  }

  @include query(desktop){
    grid-template-columns: repeat(4, minmax(13rem,1fr));
    grid-template-rows: none;
    column-gap: 2.5rem;
    justify-items: center;
  }
  
  .card img {
    width: 100%;
  }
}

.s2__text{
  text-align: center;
  padding: 2rem;

  
  h3{
    color:$color-light-cyan;
    letter-spacing: 2px;
  }
  h2{
    font-weight: 700;
    color:$color-dark-gray;
    margin: 1.2rem;
    line-height: 39px;
    
  }
  p{
    color: $color-light-gray-2;
  }
 }
 .separator{
  // margin-top: 50px;
  display: flex;
  justify-content: center;
  z-index: 100;
  position: relative;
  bottom: -60px;

}
}

.s3{
position: relative;
text-align: center;
color: white;
margin: 2rem 0;

.footer-bg img{
  width: 100%;
  min-height: 60vh;
  // z-index: 99;

}

&__text-box{
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
 
  @include query(desktop){
    width: 75%;
    flex-direction: row;
    justify-content:center;
    align-items: center;

  }
  

  h2{
    margin-top: 6rem;
    font-size: 2.3rem;
    @include query(tablet){
      margin-top: 0;
    }
  }

  p {
    font-size: 1.2rem;
  }

  .btn3{
    @include btn(width, 12rem);
    background-color:  $color-light-violet;

    @include query(desktop){
      @include btn(width, 27rem);
   }
  
   }
}
}